#connectionString, #userSchema {
    -fx-font-family: "Oracle Sans", sans-serif;
    -fx-font-size: 12px;
    -fx-font-weight: 200;
}

#password {
    -fx-font-family: "Oracle Sans", sans-serif;
    -fx-font-size: 10px;
    -fx-font-weight: 200;
}

#driverVersion, #connectedIn {
    -fx-font-family: "Oracle Sans", sans-serif;
    -fx-font-size: 10px;
    -fx-font-weight: 200;
}

#errorLink {
      -fx-font-family: "Oracle Sans", sans-serif;
      -fx-font-size: 10px;
      -fx-font-weight: 200;
  }

.axis-label { -fx-text-fill: #ffffff; }

.axis {
    -fx-vertical-grid-lines-visible: false;
    -fx-tick-mark-visible: false;
    -fx-minor-tick-visible: false;
    -fx-tick-length: 3;
    -fx-minor-tick-length: 0;
    -fx-border-color: transparent;
}

#databaseVersion, #databaseHost, #physicalConnectionInfo, #databaseName, #databaseDomain, #drainingStatus, #pingChartInformation, #databaseRole {
    -fx-font-family: "Oracle Sans", sans-serif;
    -fx-font-size: 10px;
    -fx-font-weight: 200;
}

/*
#img {
    -fx-background-color: linear-gradient(from 0% 100% to 100% 69%, hsb(207, 62%, 37%) 0%, hsb(210, 37%, 14%) 100%);
    -fx-background-image: url("grain.png") repeat;
    padding: 80px 0px 0px 0px;
}
*/
#img {
    -fx-background-color: black;
    -fx-background-image: url("background2.png") no-repeat;
    padding: 0px 0px 0px 0px;
}


#download, #connectionStringFormat {
    -fx-font-family: "Oracle Sans", sans-serif;
    -fx-font-size: 10px;
    -fx-font-weight: 400;
    -fx-background-color: rgb(242, 145, 16);
    -fx-background-radius: 12;
    -fx-background-insets: 1;
    -fx-text-fill: #ffffff;
}

#connectionStringFormat.button-valid {
    -fx-background-color: rgb(126, 252, 0);
    -fx-text-fill: #000000;
}

#connectionStringFormat.button-valid:hover {
    -fx-background-color: rgb(105, 238, 0);
    transition: rgb(126, 252, 0) 0.3s ease;
}

#download:hover, #connectionStringFormat:hover {
    -fx-background-color: rgb(221, 131, 12);
    transition: rgb(242, 145, 16) 0.3s ease;
}

.thick-chart .chart-series-line {
    -fx-stroke-width: 2px;
}